
.body {
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans", Verdana, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: normal;
    background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    position: relative;
}

    .wrapper a {
        text-decoration: none;
    }

    .wrapper ul {
        list-style: none;
        padding: 0;
    }

.main-navigation {
    font-weight: bold;
    background-color: #ffffff;
    position: relative;
}

.site-navigation {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
}

.navigation-item {
    width: 239px;
    min-height: 56px;
}

.site-navigation li {
    box-sizing: border-box;
    width: 20%;
    line-height: 57px;
}

    .site-navigation li:nth-child(2) {
        margin-right: 20%;
        padding-left: 73px;
    }

    .site-navigation li:nth-child(1) {
        padding-left: 72px;
    }

    .site-navigation li:nth-child(3) {
        padding-right: 73px;
        text-align: right;
        letter-spacing: 0.03em;
    }

    .site-navigation li:nth-child(4) {
        padding-right: 72px;
        text-align: right;
    }

.site-navigation a {
    color: #000000;
}

    .site-navigation a:hover,
    .site-navigation a:focus {
        color: #81b3d2;
    }

    .site-navigation a:active {
        color: rgba(0, 0, 0, 0.3);
    }

.block-welcome {
    width: 100%;
    background-color: #D6E6F2;
    background-image: url(../img/mask_welcome.svg), url(../img/bgmain.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-top: -76px;
    padding-bottom: -60px;
}

    .block-welcome img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

.title-welcome {
    margin-top: 76px;
}

.title {
    width: 520px;
    margin: 0 auto;
    margin-top: 60px;
}

    .title h2 {
        font-size: 21px;
        text-align: center;
        line-height: 26px;
    }

    .title p {
        margin: 0;
        margin-top: 26px;
        margin-bottom: 51px;
        font-weight: 400;
        text-align: center;
        color: #333333;
    }

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    line-height: 0;
    top: 0%;
}

.intro-image {
    margin-top: 76px;
    display: block;
    margin: 0 auto;
    padding-top: 76px;
    padding-bottom: 79px;
}

.btn-minus {
    margin-left: 33px;
}

.btn-plus,
.btn-minus {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

    .btn-minus::before {
        content: "\2014";
    }

    .btn-plus::before {
        content: "\271A";
    }

.search-hotel-guest button:hover {
    color: #000000;
}

.search-hotel-guest button:focus {
    color: #000000;
}

.search-hotel-guest button:active {
    color: #81B3D2;
}


.button-brown-search {
    font: inherit;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
    height: 83px;
    width: 568px;
    padding: 30px 0;
    display: block;
    margin: 0 auto;
    font-weight: 700;
}

    .button-brown-search:hover,
    .button-brown-search:focus {
        background-color: #604e43;
    }

    .button-brown-search:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #503e33;
    }

.button-brown {
    font: inherit;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
    padding: 4px 17px;
    height: 30px;
    width: 140px;
    text-decoration: none;
}

    .button-brown:hover,
    .button-brown:focus {
        background-color: #604e43;
    }

    .button-brown:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #503e33;
    }



.button-blue {
    font: inherit;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    padding: 4px 17px;
    height: 30px;
    width: 140px;
}

    .button-blue:hover,
    .button-blue:focus {
        background-color: #669ec0;
    }

    .button-blue:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #5496bd;
    }

.button-blue-search {
    font: inherit;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    height: 60px;
    font-weight: 700;
}

    .button-blue-search:hover,
    .button-blue-search:focus {
        background-color: #669ec0;
    }

    .button-blue-search:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #5496bd;
    }

.hotel-search-header h3 {
    font-size: 30px;
    line-height: 36px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.hotel-search-header {
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.search-form p {
    margin: 0;
    margin-bottom: 30px;
    align-items: center;
}

    .search-form p.search-hotel-guest {
        margin-bottom: 54px;
    }

.search-hotel {
    position: relative;
}

.btn-form {
    position: relative;
    z-index: 10;
}


.search-hotel-guest {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.search-hotel {
    position: relative;
}

.search-form {
    background-color: #ffffff;
    padding: 44px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
    box-sizing: border-box;
}

.search-form-main {
    width: 568px;
    margin: 0 auto;
}

.kids {
    padding-left: 75px;
    font-weight: 700;
}


.search-hotel-item label {
    display: inline-block;
    width: 121px;
    height: auto;
    text-align: left;
    font: inherit;
    font-weight: 700;
    color: #000000;
}

.search-hotel-item {
    flex-wrap: nowrap;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
}

    .search-hotel-item input {
        box-sizing: border-box;
        width: 100%;
        padding: 6px 28px 6px 13px;
        height: 38px;
        margin-left: 12px;
    }

        .search-hotel-item input:hover,
        .search-hotel-guest input:hover {
            background-color: #ebebeb;
        }

        .search-hotel-item input:focus,
        .search-hotel-guest input:focus {
            background-color: #FFFFFF;
            outline: 1px solid #E5E5E5;
        }


.search-hotel-guest input {
    width: 38px;
    text-align: center;
    height: 36px;
}

.search-hotel-item input,
.search-hotel-guest input {
    font-size: 14px;
    line-height: 26px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    background-color: #f2f2f2;
}

.hotel-item {
    padding: 30px 72px;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
    position: relative;
}

.rating {
    margin-left: auto;
    background-color: #F2F2F2;
    width: 110px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0;
    align-self: flex-end;
}

.find-calendar-form {
    display: flex;
    position: relative;
    width: 100%;
}

.form-search__calendar {
    border: none;
    font-size: 0;
    background-color: transparent;
    fill: #d1d1d1;
    position: absolute;
    right: 0;
    cursor: pointer;
    outline: none;
}

    .form-search__calendar::before {
        content: "";
        display: inline-block;
        vertical-align: central;
        width: 21px;
        height: 22px;
        background-image: url(../img/calendar.svg);
        background-repeat: no-repeat;
    }

    .form-search__calendar:hover.form-search__calendar::before {
        background-image: url(../img/calendar_hover.svg);
    }

    .form-search__calendar:focus.form-search__calendar::before {
        background-image: url(../img/calendar_hover.svg);
    }

    .form-search__calendar:active.form-search__calendar::before {
        background-image: url(../img/calendar_active.svg);
    }


.search-text {
    margin: 0;
    padding-bottom: 30px;
}

.number-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.page-footer {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    padding: 36px 0;
}

.hashtag {
    font-size: 21px;
    font-weight: bold;
}

.page-footer-social {
    text-align: center;
}

    .page-footer-social ul {
        list-style: none;
    }

.social-btn {
    display: flex;
    font-size: 0;
    background-color: #81B3D2;
    width: 46px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.social-list {
    display: flex;
    justify-content: center;
}

    .social-list li {
        margin: 3px;
    }



.social-btn::before {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    content: "";
}

.filter-form {
    min-height: 217px;
    background-color: #6B798C;
    background-image: url(../img/background_inner.jpg);
    background-size: cover;
    background-position: 0 -55px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    padding-left: 70px;
    padding-top: 27px;
    padding-right: 71px;
    box-sizing: border-box;
    justify-content: space-between;
}

.filter p {
    line-height: 21px;
}

.sort-price {
    width: 238px;
    justify-content: space-between;
}

    .sort-price a {
        color: rgba(0, 0, 0, 0.3);
        border-bottom: 1px dotted #81B3D2;
    }

    .sort-price .active {
        color: #81B3D2;
        border-bottom: none;
        pointer-events: none;
    }

    .sort-price a:hover {
        color: #81B3D2;
    }

    .sort-price a:active {
        color: #000000;
        border-bottom: none;
    }

.filter-form-result p {
    margin: 0;
}

.filter-form-result {
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 21px;
    justify-content: space-between;
    padding: 28px 71px;
}

.filter-sort-block p {
    line-height: 26px;
    font-weight: bold;
}

    .sort-price,
    .filter-sort-block p.filter-sort {
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
    }

.filter-sort-block {
    display: flex;
    align-items: center;
}

.find {
    padding-bottom: 8px;
}


.filter-sort {
    width: 162px;
    box-sizing: border-box;
    padding-left: 48px;
    margin-left: 0;
}

.sort-range a::before {
    font-size: 14px;
    line-height: 21px;
}

.sort-range a::before {
    content: "\25B2";
    color: #cacaca;
}

.sort-range:hover a::before {
    color: #000000;
}

.sort-range:active a::before {
    color: #81b3d2;
}

.sort-range a.active::before {
    content: "\25BC";
    color: #81b3d2;
}

.sort-range a {
    display: flex;
    width: 21px;
    justify-content: flex-end;
    line-height: 18px;
}

.filter-form-result,
.sort-price,
.sort-range {
    display: flex;
    flex-wrap: wrap;
}

.star-item.stars-4::after {
    content: "\2605 \2605 \2605 \2605";
}

.star-item.stars-3::after {
    content: "\2605 \2605 \2605";
}

.star-item.stars-2::after {
    content: "\2605 \2605";
}

.star-item::after {
    font-size: 22px;
    line-height: 26px;
    color: #81b3d2;
    position: absolute;
    right: 72px;
    top: 24px;
}

.icon-twitter::before {
    background-image: url(../img/twitter.svg);
    width: 20px;
    height: 15px;
}

.icon-facebook::before {
    background-image: url(../img/fb-icon.svg);
    width: 12px;
    height: 22px;
}

.icon-youtube::before {
    background-image: url(../img/youtube.svg);
    width: 20px;
    height: 16px;
}

.social-btn:hover {
    background-color: #669EC0;
}

.social-btn:active.social-btn::before {
    opacity: 0.3;
}

.footer-width {
    width: 33.3333%;
    text-align: center;
}

.rating-card {
    display: flex;
    justify-content: space-between;
}

    .rating-card p {
        color: #333;
    }


.rating-card-upper {
    margin-left: 31px;
}

    .rating-card-upper h3 {
        margin-top: -5px;
        margin-bottom: 7px;
    }

    .rating-card-upper p {
        margin-top: 0;
        margin-bottom: 13px;
    }

.rating-card .button-blue,
.rating-card .button-brown {
    padding: 4px 17px 5px 17px;
}

.price-block {
    margin-left: 5px;
}

.hotels-list {
    list-style: none;
}



.hotel-item .hotel-link {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.hotel-name a {
    color: #000000;
    font-size: 21px;
}

    .hotel-name a:hover {
        color: #81B3D2;
    }

    .hotel-name a:active {
        color: rgba(0,0,0,0.3);
    }
